<!-- Footer -->
<div class="row" style="background-color: #addccf">
  <!-- Side bar -->
  <div class="col-md-3" style="background-color: #f3f3f3">
    <!--Info-->
    <div style="margin-top: 58px">
      <div class="container pt-4">
        <h2>Hướng dẫn chuyến đi</h2>
        <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà
          Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận</p>
      </div>
    </div>
    <!--End info-->

    <!-- Menu -->
    <div>
      <div class="container pt-4">
        <ul>
          <li>Cố đô Huế</li>
          <li>Phố cổ Hội An</li>
          <li>Thánh địa Mỹ Sơn</li>
          <li>Động phong nha</li>
        </ul>
      </div>
    </div>
    <!-- End menu -->
  </div>
  <!--End side bar-->

  <!-- Main footer -->
  <div class="col-md-9 row">
    <div class="col" style="margin-top:120px">
      <ul>
        <li>Giá công bố</li>
        <li>Lifestyle Blog</li>
        <li>Tuyển dụng</li>
        <li>Liên hệ</li>
      </ul>
    </div>

    <div class="col" style="margin-top: 58px">
      <h2>Liên hệ</h2>
      <p>
        103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam
        Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
        Email: reservation@furamavietnam.com * www.furamavietnam.com GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD
        16236, Sabre-GD 032771, Worldspan- GD DADFU
      </p>
    </div>
  </div>
  <!-- End main footer -->
</div>
<!-- End footer -->

