<h1>Chỉnh sửa sản phẩm</h1>
<form [formGroup]="editForm" (ngSubmit)="editProduct()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id" readonly disabled></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục</td>
      <td>
        <select formControlName="categoryId">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><a class="btn btn-outline-dark" routerLink="/product/list">Back</a></td>
      <td><button class="btn btn-outline-dark">Sửa</button></td>
    </tr>
  </table>
</form>

