<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="collapse navbar-collapse navbar-brand" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: red" href="#">Customer <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue" routerLink="/customer-list" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue" routerLink="/facility">Lịch sử lãi xuất</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue " routerLink="/contract">Hợp đồng gửi</a>
      </li>
    </ul>
  </div>

  <!--  <form class="form-inline my-2 my-lg-0">-->
  <!--    <input class="form-control mr-sm-2" type="search" placeholder="Input..." aria-label="Search">-->
  <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
  <!--  </form>-->
</nav>


