<h1>Danh sách sản phẩm</h1>
<div class="row">
  <div class="col-md-9">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      Tên:
      <input type="text" formControlName="name">
      Gia:
      <input type="text" formControlName="price">
      Danh mục:
      <select formControlName="categoryId">
        <option [value]="null">Chọn</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
      <button class="btn btn-outline-dark">Tìm kiếm</button>
    </form>
  </div>
</div>
<br><br>

<div>
  <table class="table table-striped">
    <tr>
      <td>Mã sản phẩm</td>
      <td>Tên</td>
      <td>Giá</td>
      <td>Mô tả</td>
      <td>Danh mục</td>
      <td>Chỉnh sửa</td>
      <td>Xóa</td>
    </tr>
    <tr *ngFor="let product of products | paginate : config">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td *ngIf="product.category">{{product.category.name}}</td>
      <td *ngIf="!product.category"></td>
      <td><a class="btn btn-outline-dark" [routerLink]="['/product/edit', product.id]">Sửa</a></td>
      <td><a class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#delModal" (click)="delModal(product)">Xóa</a></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Trang trước" nextLabel="Trang sau"></pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Mã sản phẩm:</td>
            <td>{{deleteProduct.id}}</td>
          </tr>
          <tr>
            <td>Tên:</td>
            <td>{{deleteProduct.name}}</td>
          </tr>
          <tr>
            <td>Giá:</td>
            <td>{{deleteProduct.price}}</td>
          </tr>
          <tr>
            <td>Mô tả:</td>
            <td>{{deleteProduct.description}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="delProduct()" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>
<!--end modal-->

